#szallasok {
    height: auto;
    min-height: 500px;
    width: 70%;
    float: left;
}
#szallasok article{
    background-color: #fff;
    width: 96%;
    margin: 10px 0;
    padding: 5px 5px;
    border-radius: 10px;  -moz-border-radius: 10px;  -webkit-border-radius: 10px;
}
#szallasok article .ajanlat-body{
    margin-top: 5px;
    border: 1px solid #666;
    border-radius: 5px;  -moz-border-radius: 5px;  -webkit-border-radius: 5px;
}
#szallasok article header{
    width: 96%;
    margin: 0;
    padding: 3px 2%;
    background-color: #666;
    border-radius: 5px;  -moz-border-radius: 5px;  -webkit-border-radius: 5px;
    color: #fff;
}
#szallasok article header a{
    text-decoration: none;
    color: #fff;
}
#szallasok article p{
    text-align: right;
    padding: 5px;
    margin: 0;
}

#szallasok .kep{
    float: left;
    width: 110px;
    height: auto;
    text-align: center;
    padding: 5px 5px;
    margin: 5px 5px;
    background-color: #e6e1e3;
}
#szallasok .leiras{
    padding: 5px;
}


#top-oldal, #mid-oldal, #bottom-oldal{
    float: left;
    width: 30%;
}
.oldalMenu{
    width: 90%;
    color: #666;
    padding: 20px 10px;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #666;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    float: right;
    min-height: 50px;
    height: auto;
    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(top, #cccccc 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cccccc 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cccccc 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/*
    Mobil eszközről nézve:
*/
@media only screen and (max-width : 550px){
    #szallasok { width: 100%; float: none; margin: 0 auto; }
    #szallasok article{ width: 98%;}
    #top-oldal, #mid-oldal, #bottom-oldal{ width: 100%; float: none; margin: 5px auto; }
    .oldalMenu{ width: 95%; float: none; margin: 0 auto; }
    #top-oldal .ablakcim, #mid-oldal .ablakcim, #bottom-oldal .ablakcim{ width: 95%; float: none; margin: 0 auto; }
}

/*
    Kisebb felbontású képernyőn a méretek: (pl. tablet)
*/
@media only screen and (min-width : 551px) and (max-width : 1100px){
    #szallasok { width: 65%; }
    #szallasok article{ width: 95%;}
    #top-oldal, #mid-oldal, #bottom-oldal{ width: 35%; }
}