#fo-leiras{
    width: 100%; min-height: 100px; height: auto;
    margin: 5px auto;
    overflow: auto;
    background-color: #FFF;
    border-top-left-radius: 10px;  border-top-right-radius: 10px; -moz-border-radius-topleft: 10px;  -moz-border-radius-topright: 10px; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px;
    border: 1px solid #666;
}
#fo-leiras h4{
    font-size: 20px;
    margin: 5px; padding: 3px 2%;
    background-color: #666; color: #fff;
    border-radius: 5px;  -moz-border-radius: 5px;  -webkit-border-radius: 5px;
}

#fo-leiras #kep{
    width: 28%; padding: 1%;
    height: auto; min-height: 100px;
    float: left; overflow: auto;
}
#fo-leiras #kep img{ width: 100%; }

#fo-leiras #cim, #opciok{ width: 68%; padding: 1%; float: left; overflow: auto; }

#tabok{
    min-height: 300px;
    height: auto;
    clear: both;
    margin: 10px auto;
    width: 100%;
    position: relative;
}
.tab{ float: left; overflow: inherit; height: auto; min-height: 400px; }
.tab label {
    background: #666;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #666;
    top: 5px;
    margin-left: -1px;
    position: relative;
    left: 1px;
    cursor: pointer;
}
.tab [type=radio] {
    display: none;
}
.content {
    background: #fff;
    padding: 5px 1%;
    border: 1px solid #666;
    position: absolute;
    left: 0; right: 0;
    top: 25px;
    min-height: 350px;
    height: 90%;
    border-radius: 5px;  -moz-border-radius: 5px;  -webkit-border-radius: 5px;
    border-top-left-radius: 0;-moz-border-top-left-radius: 0;  -webkit-border-top-left-radius: 0;
    overflow: auto;
}
[type=radio]:checked ~ label {
    background: #fff;
    color: #666;
    border-bottom: 1px solid #fff;
    z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
    z-index: 1;
    display: block;
}

#tabok table{
    width: 98%;
    margin: 5px auto;
    background-color: #666;
}
#tabok table td{
    background-color: #fff;
    margin: 0;
    padding: 5px 5px;
    text-align: center;
}

#tabok table #szobaszam{ background-color: #0088CC; width: 20%}
#tabok table #fo{ background-color: #0088CC; width: 10%}
#tabok table #agy{ background-color: #0088CC; width: 15%}
#tabok table #legter{ background-color: #0088CC; width: 15%}
#tabok table #ar{ background-color: #0088CC; width: 25%}
#tabok table #foglalo{ background-color: #0088CC; width: 15%}


#galeria{ width: 95%; margin: 0 auto; }
#galeria ul { list-style: none; }
#galeria ul li { display: inline; }
#galeria ul img { border: 5px solid #3e3e3e; }
#galeria ul a:hover img { border: 5px solid #fff; color: #fff; }
#galeria ul a:hover { color: #fff; }
#galeria a{ text-decoration: none; }

@media only screen and (max-width : 550px){
    #tabok table{ font-size: 10px; }
    #fo-leiras{ width: 98%; height: auto; margin: 5px auto; }
    #tabok{ width: 98%; margin: 5px auto; }
}