<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('style1.css') }}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="#">Főoldal</a></li>
            <li><a href="#">Szállások</a></li>
            <li><a href="#">Kapcsolat</a></li>
            <li><a href="#">Megvalami</a></li>
        </ul>
    </nav>
</header>
<div id="tarolo">
    <div id="almenu">
        bal
    </div>
    <div id="tartalom">
        tartalom
    </div>
</div>
</body>
</html>